//fonts
$font-body: 'Space Mono', 'Courier New', Courier, monospace;
$font-heading: 'Anton', 'Impact', 'Arial Black', sans-serif;
//colors
//black
$color-black-1: #000000;
$color-black-2: #1D1D1B;
$color-black-3: #202020;
$color-black-4: #707070;
//white
$color-white-1: #FFFFFF;
$color-white-2: #F8F8F8;
//yellow
$color-yellow-1: #FBED81;
$color-yellow-2: #FDF1D9;
//green;
$color-green-1: #C5D6D1;