@use '../abstract/variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px per rem
}

body {
    font-family: $font-body;
    box-sizing: border-box;
}